<html>
<head>
	<title>Hello World!</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

	<style>
	body {
		font-family: 'Roboto', sans-serif;
	}

	.center {
		margin-left: auto;
		margin-right: auto;
		width: 400px;
	}

	.header {
		font-size: 72px;
	}

	a {
		color: green;
	}

	.code {
		background-color: #F3F3F3;
		border-radius: 3px;
		padding: 20px;
	}
	</style>

	<div class="center header">
		Hello World
	<ul>
		<li><a href="/c">C</a></li>
		<li><a href="/python">Python</a></li>
	</ul>
	</div>
	{% if code %}
		<div class="center code">
			<code><pre>{{ code }}</pre></code>
		</div>
	{% endif %}
</body>
</html>